$cursor-default-value: auto !default;
$body-bg: white;
$body-font-color: #242425;
$body-font-family: "Noto Serif", "DejaVu Serif", "Serif", serif;

// Required global settings and mixins for Foundation
@import "foundation/components/global";

$primary-color: #1d599f; // $primary-color is used as link color
$alert-color: lighten(#3a130b, 15%); // $code-color is 15% darker than $alert-color, so we lighten here by 15%
$pale-orange: #ddac7b;

$global-radius: 4px;

$row-width: 70em;

$header-font-family: "Open Sans", "DejaVu Sans", "Sans", sans-serif;
$header-font-weight: 300;
$header-font-color: #ba3c23;
$header-top-margin: 1em;
$header-bottom-margin: 0.5em;
//$header-text-rendering: optimizeLegibility;

$subheader-font-color: darken($header-font-color, 15%); // resolves to #7a2518

$code-font-family: "Droid Sans Mono", "DejaVu Sans Mono", "Monospace", monospace;
$code-font-weight: normal;
$code-line-height: 1;
$code-padding: 0 0 0 0.0625em;
$code-word-spacing: -0.25em;
$code-text-rendering: optimizeSpeed;

$list-side-margin: emCalc(24px);
$definition-list-header-margin-bottom: emCalc(5px);
$definition-list-margin-bottom: emCalc(20px);

$blockquote-font-color: lighten($body-font-color, 30%);
$blockquote-cite-font-size: inherit;
$blockquote-cite-font-color: darken($blockquote-font-color, 10%);

$pagination-li-font-size: emCalc(16px);
$pagination-link-unavailable-font-color: $secondary-color;

$reveal-position-top: emCalc(-128px); // offset to content is ~ -218px
$reveal-modal-padding: 0;

$table-head-font-size: inherit;
$table-row-font-size: inherit;
$table-line-height: 1.6;

$topbar-margin-bottom: 0;
$topbar-title-weight: 300;
$topbar-link-weight: 600;

$icon-text-shadow: 1px 1px 2px rgba(0, 0, 0, .5) !default;
$rainbow-lightness: -25% !default;
$rainbow-bg-lightness: -2% !default;
$fontAwesomePath: '../fonts' !default;
$thumb-border-style: solid !default;
$thumb-border-width: 4px !default;
$thumb-border-color: #fff !default;
$thumb-box-shadow: 0 0 0 1px #ddd !default;
$table-border-highlight-color: #468847 !default;
$table-border-highlight-size: 3px !default;
$definition-list-content-margin-left: emCalc(18px) !default;
