@import "fonts/cousine";
@import "normalize";
@import "settings";

@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
// global included in _settings.scss
//@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
@import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
@import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
//@import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
@import "foundation/components/inline-lists";
@import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
@import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// this feels a bit crummy
.top-bar-section ul.right li.has-form > a.button {
  display: inline-block;
  width: auto;
  height: auto;
  padding-right: $topbar-height / 3;
}

@media #{$topbar-media-query} {
  .top-bar-section ul.right li.has-form > a.button {
    padding-right: 10px;
  }
}

.top-bar {
  border-bottom: 3px solid #c5c23f; // yellow
  height: $topbar-height + 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);

  // FIXME our global ul override is breaking this
  ul {
    margin-left: 0;
  }
}

.container {
  & > header {
    background-color: #1863A1;
    //background-color: lighten(#134e6d, 10%);
    background-color: lighten(#105e87, 5%);
    //border-top: 3px solid #707070; // gray
    //border-top: 3px solid #6ad364; // lime
    //border-top: 3px solid #c5c23f; // yellow
    margin-bottom: 1.5em;
    padding: 22px 0 18px 0;
    h1 {
      color: #FFF;
      margin-top: .5em;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
    }
    strong {
      color: #EEE;
      font-size: 1.5em;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
    }
    .hero {
      text-align: center;
      h1 {
        font-size: 3.5em;
        margin-top: .25em;
        margin-bottom: .2em;

        @media #{$small} {
          font-size: 4em;
        }
      }

      .actions {
        margin-top: 1.8em;
      }

      a.button {
        margin-right: 10px;
        text-decoration: none;
        @include radius;
        line-height: 1.3;
        text-align: left;

        .pull-left {
          margin-left: -.2em;
          margin-right: .4em;
          line-height: inherit;
        }
      }
    }
    .hello .listingblock {
      margin-bottom: .5em;
      margin-top: .5em;
    }
  }

  a:not(.button) {
    text-decoration: underline;
  }

  ////a[target="_blank"]:after {
  //a[href^='https://']:not([class]):after,
  //a[href^='http://']:not([class]):after {
  //  content: "\f08e";
  //  font-family: FontAwesome;
  //  font-weight: normal;
  //  font-style: normal;
  //  display: inline-block;
  //  text-decoration: none;
  //  padding-left: 0.3em;
  //  font-size: 0.9em;
  //}

  h1 > a {
    color: $body-font-color;
    text-decoration: none;
  }
}

#toc {
  background-color: #efefef;
  padding: emCalc(8px) emCalc(12px);
  margin-bottom: $panel-margin-bottom;
  @include radius;
  & > ul {
    margin: .5em 0 .5em .5em;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}

#toctitle {
  @extend %title;
  padding-left: 0.5em;
}

.row.full-width {
  max-width: 100%;
}

body > footer {
  background: lighten($topbar-bg, 15%);
  color: $topbar-link-color;
  padding: 11px 0;
  margin-top: 30px;
  // NOTE I don't know what's causing the extra space under the footer
  margin-bottom: -5px;
  p {
    margin-bottom: 0;
  }
}

.clearfix,
.float-group {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

code, pre {
  color: $body-font-color;
  font-family: $code-font-family;
  font-weight: normal;
}

*:not(pre) > code {
  color: $code-color;
  font-weight: $code-font-weight;
  white-space: nowrap;
  padding: 2px 3px 0px;
  background-color: #EFEFEF;
  border: 1px solid darken(#EFEFEF, 5%);
  @include radius(3px);
}

pre {
  //line-height: $paragraph-line-height;
  line-height: 1.4;
}

kbd.keyseq {
  color: lighten($body-font-color, 20%);
}

kbd:not(.keyseq) {
  display: inline-block;
  color: $body-font-color;
  font-size: emCalc(12px);
  line-height: 1.4;
  background-color: #F7F7F7;
  //border: 1px solid $pre-border-color;
  border: 1px solid #ccc;
  @include radius(3px);
  @include box-shadow(0 1px 0 rgba(0, 0, 0, .2), 0 0 0 2px white inset);
  margin: -0.15em 0.15em 0 0.15em;
  padding: 0.2em 0.6em 0.2em 0.5em;
  vertical-align: middle;
  white-space: nowrap;
}

kbd kbd:first-child {
  margin-left: 0;
}

kbd kbd:last-child {
  margin-right: 0;
}

.menuseq, .menu {
  color: darken($body-font-color, 10%);
}

#preamble .sectionbody > .paragraph:first-of-type p {
  @extend %lead;
  //margin-top: .5em;
  margin-top: 1em;
}

.paragraph.lead > p {
  @extend %lead;
}

table #preamble .sectionbody > .paragraph:first-of-type p {
  font-size: inherit;
  margin-top: 0;
}

.top-bar .name h1 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

// this leads to some stylesheet bloat
%title {
  @extend %subheader;
  text-align: left;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  // assigning opposite value intentionally 
  padding-top: $subheader-bottom-margin;
  padding-bottom: $subheader-top-margin;
}

#content #{headers()} {
  & > a.anchor {
    position: absolute;
    width: 1em;
    margin-left: -1em;
    display: block;
    text-decoration: none !important;
    visibility: hidden;
    text-align: center;
    font-weight: normal;

    &:before {
      content: '\00A7';
      font-size: .85em;
      vertical-align: text-top;
      display: block;
      margin-top: 0.085em;
    }
  }

  &:hover > a.anchor,
  & > a.anchor:hover {
    visibility: visible;
  }

  & > a.link {
    color: $header-font-color;
    text-decoration: none;
    &:hover {
      color: darken($header-font-color, 5%);
    }
  }
}

// AsciiDoc block styles

// these blocks that don't inherit panel styles
.imageblock,
.literalblock,
.listingblock,
.verseblock,
.videoblock {
  margin-bottom: $panel-margin-bottom;
}

.admonitionblock > table td.content,
.exampleblock,
.imageblock,
.videoblock,
.listingblock,
.literalblock,
.openblock,
.paragraph,
.quoteblock,
.sidebarblock,
.tableblock,
.verseblock,
.dlist,
.olist,
.ulist,
.qlist,
.hdlist {
  & > .title {
    @extend %title;
  }
}

table.tableblock > caption {
  @extend %title;
  white-space: nowrap;
  overflow: visible;
  max-width: 0;
}

.admonitionblock > table {
  border: 0;
  background: none;
  width: 100%;
  td.icon {
    text-align: center;
    width: 80px;
    img {
      max-width: none;
    }
    .title {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  td.content {
    padding-left: emCalc(18px);
    padding-right: emCalc(20px);
    border-left: $hr-border-width $hr-border-style $hr-border-color; 
    color: $blockquote-font-color;

    & > div:last-child {
      p, ol, ul, dl, dl dd:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.admonitionblock.lead > table td.content {
  font-size: $paragraph-font-size * 1.5;
  line-height: $paragraph-line-height;
  color: $body-font-color;
}

.exampleblock > .content {
  @include panel($body-bg);
  @include radius;
  padding-bottom: 0;
}

.sidebarblock {
  @include panel;
  @include radius;

  & > .content {
    & > .title {
      @extend h3;
      color: $subheader-font-color;
      margin-top: 0; // override margin increase we use to separate sections
      line-height: $paragraph-line-height;
      //border-bottom: $hr-border-width $hr-border-style $hr-border-color;
    }
  }
}

//.exampleblock > .content,
.sidebarblock > .content {
  // FIXME argh, review!
  & > :last-child > :last-child,
  .olist > ol > li:last-child > :last-child,
  .ulist > ul > li:last-child > :last-child,
  .qlist > ol > li:last-child > :last-child {
    margin-bottom: 0;
  }
}

.literalblock,
.listingblock {
  & > .content pre {
    border: dotted #BFBFBF;
    border-width: 1px 0;
    // for smallest screens
    padding: emCalc(12px) emCalc(12px) emCalc(8px) emCalc(12px);
    word-wrap: break-word;

    &.nowrap {
      overflow-x: auto;
      white-space: pre;
      word-wrap: normal;
    }

    @media #{$screen} {
      //font-size: $em-base * 0.75;
      font-size: 12px;
      //padding: emCalc(12px);
    }

    @media #{$small} {
      //font-size: $em-base * 0.875;
      font-size: 14px;
      //padding: emCalc(14px);
      // for small and up
      padding: emCalc(14px) emCalc(14px) emCalc(10px) emCalc(14px);
    }

    @media #{$medium} {
      font-size: emCalc(16px);
    }

    & > code {
      display: block;
    }
  }
}

// NOTE override Asciidoctor styles to have a more code-looking block
.listingblock {
  & > .content {
    // set to root the language hovers
    position: relative;
    pre.CodeRay,
    pre.highlight {
      border: 0;
      background-color: #F5F5F5;
      border: 1px solid #DDD;
      @include radius;
    }
  }
}

.listingblock.stacked {
  margin-bottom: 0;
  pre {
    border-bottom: 0;
  }
}

.listingblock a.view-result {
  float: right;
  font-weight: normal;
  text-decoration: none;
  font-size: 0.9em;
  line-height: 1.4;
  margin-top: 0.15em;
}

.listingblock:hover code[class*=" language-"]:before {
  text-transform: uppercase;
  //float: right;
  font-size: 0.9em;
  color: #999;
  position: absolute;
  top: emCalc(5px);
  right: emCalc(10px);

  // use the next three styles to "cover-up"
  //position: relative;
  //background: $pre-bg;
  //padding: 0 emCalc(12px);
}

@mixin language-label($lang) {
  code.#{$lang}:before {
    content: quote($lang);
  }
}

.listingblock:hover {
  @include language-label(asciidoc);
  @include language-label(clojure);
  @include language-label(css);
  @include language-label(groovy);
  @include language-label(html);
  @include language-label(java);
  @include language-label(javascript);
  @include language-label(python);
  @include language-label(ruby);
  @include language-label(scss);
  @include language-label(xml);
  @include language-label(yaml);
}

.listingblock.terminal pre .command:before {
  content: attr(data-prompt); 
  padding-right: 0.5em;
  color: #999;
}

.listingblock.terminal pre .command:not([data-prompt]):before {
  content: '$'; 
}

.quoteblock {
  margin: 0 0 $paragraph-margin-bottom;
  padding: $blockquote-padding;
  border-#{$default-float}: $blockquote-border;

  & > blockquote {
    margin: 0 0 $paragraph-margin-bottom 0;
    padding: 0 0 emCalc(9px) 0;
    border: 0;

    // make stronger rule so it isn't overridden
    .paragraph > p {
      color: $blockquote-font-color;
    }

    & > .paragraph:last-child p {
      margin-bottom: 0;
    }
  }

  .attribution {
    margin-top: -.25em;
    padding-bottom: emCalc(9px);
    font-size: $blockquote-cite-font-size;
    color: $blockquote-cite-font-color;
    br {
      display: none;
    }
    cite {
      display: block;
      margin-bottom: emCalc(10px);
    }
  }
}

// FIX Foundation, user-agent stylesheet is overriding
table thead th,
table tfoot th {
  font-weight: $table-head-font-weight;
}

table.tableblock.grid-all {
  border-collapse: separate;
  border-spacing: 1px;
  @include radius;
  border-top: $table-border-highlight-size solid $table-border-highlight-color;
  border-bottom: $table-border-highlight-size solid $table-border-highlight-color;
}

table.tableblock.frame-topbot,
table.tableblock.frame-none {
  border-left: 0;
  border-right: 0;
}

table.tableblock.frame-sides,
table.tableblock.frame-none {
  border-top: 0;
  border-bottom: 0;
}

table.tableblock {
  td .paragraph:last-child p,
  td > p:last-child {
    margin-bottom: 0;
  }
}

@each $halign in (left, right, center) {
  th.tableblock.halign-#{$halign},
  td.tableblock.halign-#{$halign} {
    text-align: $halign;
  }
}

@each $valign in (top, bottom, middle) {
  th.tableblock.valign-#{$valign},
  td.tableblock.valign-#{$valign} {
    vertical-align: $valign;
  }
}

p.tableblock.header {
  color: $table-head-font-color;
  font-weight: $table-head-font-weight;
}

td > div.verse {
  white-space: pre;
}

table.tableblock.unstyled {
  border: none;
  background: none;
}

ol {
  margin-left: $list-side-margin + emCalc(4px);
}

ul li ol {
  margin-left: $list-side-margin;
}

dl dd {
  margin-left: $definition-list-content-margin-left;
}

// argh
dl dd:last-child,
dl dd:last-child > :last-child {
  margin-bottom: 0;
}

ol > li p,
ul > li p,
ul dd,
ol dd,
.olist .olist,
.ulist .olist,
.olist .ulist {
  margin-bottom: $paragraph-margin-bottom / 2;
}

// AsciiDoc list styles
ul.unstyled,
ol.unnumbered,
ul.checklist,
ul.none {
  list-style-type: none;
}

ul.unstyled,
ol.unnumbered,
ul.checklist {
  margin-left: emCalc(10px);
}

// give the checkbox some room
ul.checklist li > p:first-child > i[class^="icon-check"]:first-child,
ul.checklist li > p:first-child > input[type="checkbox"]:first-child {
  margin-right: 0.25em;
}

ul.checklist li > p:first-child > input[type="checkbox"]:first-child {
  position: relative;
  top: 1px;
}

ul.inline {
  @include inline-list;
}

// used when you need to style the term inline
.unstyled dl dt,
.natural dl dt {
  font-weight: normal;
  font-style: normal;
}

@mixin ordered-list-type($class, $type) {
  ol.#{$class} {
    list-style-type: #{$type};
  }
}

@include ordered-list-type(arabic, decimal);
@include ordered-list-type(decimal, decimal-leading-zero);
@include ordered-list-type(loweralpha, lower-alpha);
@include ordered-list-type(upperalpha, upper-alpha);
@include ordered-list-type(lowerroman, lower-roman);
@include ordered-list-type(upperroman, upper-roman);
@include ordered-list-type(lowergreek, lower-greek);

.hdlist > table,
.colist > table {
  border: 0;
  background: none;
  & > tbody > tr {
    background: none;
  }
}

td.hdlist1 {
  padding-right: .8em;
  font-weight: bold;
}

td.hdlist1,
td.hdlist2 {
  vertical-align: top;
}

.literalblock + .colist,
.listingblock + .colist {
  margin-top: -0.5em;
}

.colist > table {
  tr > td:first-of-type {
    padding: 0 .8em;
    line-height: 1;
  }

  tr > td:last-of-type {
    padding: emCalc(4px) 0;
  }
}

.qanda > ol > li > p > em:only-child {
  color: darken($primary-color, 5%);
}

// picked from foundation/components/_thumbs.css
.thumb,
.th {
  line-height: 0;
  display: inline-block;
  border: $thumb-border-style $thumb-border-width $thumb-border-color;
  @if $experimental {
    -webkit-box-shadow: $thumb-box-shadow;
  }
  box-shadow: $thumb-box-shadow;
}

.imageblock {
  &.left,
  &[style*="float: left"] {
    margin: emCalc(4px) emCalc(10px) $panel-margin-bottom 0;
  }
  &.right,
  &[style*="float: right"] {
    margin: emCalc(4px) 0 $panel-margin-bottom emCalc(10px);
  }

  & > .title {
    margin-bottom: 0;
  }

  &.thumb,
  &.th {
    border-width: $thumb-border-width + ($thumb-border-width * .5);
    & > .title {
      padding: 0 emCalc(2px);
    }
  }
}

.image {
  // QUESTION should we require the related role?
  // "related" mean "illustrative" or "supporting" of the text
  //&.related,
  //&.rel {
  //}

  &.left,
  &.right {
    margin-top: emCalc(4px);
    margin-bottom: emCalc(4px);
    display: inline-block;
    line-height: 0;
  }

  &.left {
    margin-right: emCalc(10px);
  }

  &.right {
    margin-left: emCalc(10px);
  }
}

a.image {
  text-decoration: none !important;
}

// AsciiDoc footnote styles
span.footnote,
span.footnoteref {
  vertical-align: super;
  font-size: emCalc(14px);
  a {
    text-decoration: none;
  }
}

#footnotes {
  padding: emCalc(12px) 0;
  //margin-bottom: $paragraph-margin-bottom;
  margin-top: -$panel-margin-bottom / 2;
  hr {
    width: 20%;
    min-width: emCalc(100px);
    margin: -.25em 0 .75em 0;
    border-width: 1px 0 0 0;
  }
  .footnote {
    line-height: 1.3;
    font-size: emCalc(14px);
    margin-left: 1.2em;
    text-indent: -1.2em;
    margin-bottom: .2em;
    padding: 0 emCalc(6px);
    a:first-of-type {
      font-weight: bold;
      text-decoration: none;
    }
  }

  .footnote:last-of-type {
    margin-bottom: 0;
  }
}

// for embedded gists
.gist .file-data > table {
  border: none;
  background: #fff;
  width: 100%;
  margin-bottom: 0;
  td.line-data {
    width: 99%;
  }
}

// Styles and colors for inline fun
.mono {
  font-family: $code-font-family;
}

  div.unbreakable {
    page-break-inside: avoid;
  }

  .big {
    font-size: larger;
  }
  
  .small {
    font-size: smaller;
  }

  @each $decoration in (underline, overline, line-through) {
    .#{$decoration} {
      text-decoration: $decoration;
    }
  }

  // colors must be quoted or else they may get converted to hex in compression output mode
  @each $color in ('aqua', 'black', 'blue', 'fuchsia', 'gray', 'green', 'lime', 'maroon', 'navy', 'olive', 'purple', 'red', 'silver', 'teal', 'white', 'yellow') {
    .#{$color} {
      color: scale-color(string-to-color($color), $lightness: $rainbow-lightness);
    }
  
    .#{$color}-background {
      background-color: scale-color(string-to-color($color), $lightness: $rainbow-bg-lightness);
    }
  }

  //*:not(code) > .comment {
  //  background: yellow;
  //}

// use alternative triple line menu icon so it appears in older webkit browsers
.top-bar .toggle-topbar.menu-icon a {
  @include background-image(linear-gradient(top,
    $topbar-bg 0%, $topbar-bg 27%,
    $topbar-menu-icon-color 27%, $topbar-menu-icon-color 33%,
    $topbar-bg 33%, $topbar-bg 45%,
    $topbar-menu-icon-color 45%, $topbar-menu-icon-color 50%,
    $topbar-bg 50%, $topbar-bg 62%,
    $topbar-menu-icon-color 62%, $topbar-menu-icon-color 68%,
    $topbar-bg 68%, $topbar-bg 100%));
  width: 18px;
  right: -1px;
  span {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.top-bar-section {
  // button height=24px; top-bar height=45px; 21px remaining vertical padding
  .g-plusone-slot {

    // inside the mobile menu
    //@extend .has-form;
    //line-height: normal;
    //@media #{$topbar-media-query} {
    //  & > div {
    //    position: relative;
    //    top: 10px; // 9, 10 or 11, can't decide
    //  }
    //}

    // adjacent to the mobile menu
    position: absolute;
    top: -50px;
    //right: 40px;
    right: 35px;
    @extend .has-form;
    @media #{$topbar-media-query} {
      position: static;
      top: 0;
      right: 0;
      & > div {
        position: relative;
        top: 11px; // 9, 10 or 11, can't decide
      }
    }

    // placeholder until the script swaps in the real button
    .g-plusone {
      @include button-base;
      height: 24px;
      width: 38px;
    }
  }
}

// fix foundation breakage of google +1 bubbles
.gc-bubbleDefault {
  @for $i from 1 through 9 {
    img[height='#{$i}'] {
      height: #{$i}px;
    }
  }
}

.exampleblock.result > .content {
  border: 0;
}

// fix Foundation not calculating based on $reveal-position-top for large screens
//@media #{$small} {
//  .reveal-modal {
//    top: $reveal-position-top + emCalc(60px);
//    padding: $reveal-modal-padding;
//  }
//}

.exampleblock.result {
  display: none;
  & > .content {
    background-color: scale-color($pale-orange, $lightness: 95%, $saturation: 30%);
    border: 1px solid $blockquote-font-color;
    -webkit-box-shadow: 0 1px 10px rgba($body-font-color, .3);
    box-shadow: 0 1px 10px rgba($body-font-color, .3);
    & > :last-child {
      margin-bottom: 1.25em;
    }
  }
}

.imageblock.feature {
  @include panel($bg:#fff, $padding: .5em);

  & > .title > span.credit {
    font-weight: normal;
    font-style: italic;
    color: $blockquote-cite-font-color;
  }
}

.button-group {
  .button.first {
    @include side-radius($default-float, $button-radius);
  }

  & > li i[class^="icon-"] {
    line-height: 1;
    padding-left: emCalc(3px);
  }
}

b.button {
  padding: 4px 10px 3px 10px;
}

article.post {
  .entry-content {
    margin-bottom: $panel-margin-bottom;
  }

  .tags .label {
    margin-right: $pagination-li-margin;
  }
}

ul.pagination li.arrow a {
  text-decoration: none;
}

@import "awesome-icons";
//@import "highlightjs-custom";
@import "asciidoctor-coderay";
